body{
	background-color: #eee;
	color: #333;
	font-family: arial;
}
#all{
	position: absolute;
	background-color: #fff;
	margin: 20px 0 20px  -390px;
	width: 760px;
	left: 50%;
	border: 10px solid #aaa;

}
#banner_top{
	float:left;
	margin-top: 20px;
}
#banner_top.photo{
	float: right;
	background-image: url(/static/images/perfil.jpg);
	background-repeat: no-repeat;
	background-position: -20px -30px;
	width: 56px;
	height: 56px;
	border: 1px solid #47b;
}
h1{
	margin: 10px 20px 10px 20px; /*pela ordem:direita, esquerda, cima, baixo*/

}

h2{
	margin: 0;
	font-size: 1.2em;
}

#wrapper{
	clear: both;
	margin: 10px 20px 10px 20px;
}

/* CSS Tabs */
#menu{
    clear:both;
	overflow: hidden;
	background-color: #47a;
	margin-top : 10px;
	height : 26px;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
}

#menu ul {
    margin: 0;
	padding: 0;
	
}
#menu ul li {
    float: left;
	list-style: none;
	padding: 0;
}
#menu ul li a :link, #menu ul li a:visited, #menu ul li a:active{
	padding: 5px;
	text-decoration: none;
	color: #fff;
        
}
#menu ul li a:hover {
	background-color: #79b;
	color: #fff;
       
}

#footer{
	clear:both;
	overflow: hidden;
	background-color: #87a;
	margin: 25px;
	font-size: 0.8em;
	color: #fff;
	padding: 10px;
	text-align: center
}
